{{> header}}
<div class="container">
        <h1>{{meta_title}}</h1>
        <h3>under construction</h3>
        <hr><!--
{{#each posts}}
    <div class="post">
        <h3><a href="{{url}}">{{title}}</a></h3>
        {{#if date}}
            <p class="post-meta">
                {{date format="MMMM Do YYYY"}}
            </p>
        {{/if}}
        <p>{{{description}}}</p>
    </div>
{{/each}} -->
</div>
{{> js}}